body {
    background-color: hsl(210, 46%, 95%);
}


.daniel {
    background-color: hsl(263, 55%, 52%);
    border-radius: 5%;
    display: inline-block;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 30px;
    padding: 30px;
    width: 650px;
    position: absolute;

}

.dp {
    border-radius: 100%;
    float: left;
    margin-right: 10px;
}

.jeanette {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    display: inline-block;
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 274.025px;
    margin: 30px;
    padding: 30px;
    width: 250px;
    position: absolute;
    top: 377.83px;
}

.jonathan {
    background-color: hsl(217, 19%, 35%);
    border-radius: 5%;
    display: inline-block;
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 287.825px;
    margin: 30px;
    padding: 30px;
    width: 300px;
    position: absolute;
    top: 8px;
    left: 740px;
}

.kira {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    display: inline-block;
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 642.83px;
    margin: 30px;
    padding: 30px;
    width: 250px;
    position: absolute;
    top: 8px;
    left: 1127.83px;
}

.name {
    padding-top: 8px;
    margin: 0;
}

.namedown {
    margin: 0;
}

.patrick {
    background-color: hsl(219, 29%, 14%);
    border-radius: 5%;
    display: inline-block;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 30px;
    padding-left: 45px;
    width: 650px;
    margin: 30px;
    position: absolute;
    top: 377.83px;
    left: 375.03px;
}